body, h1, h2, p {
    margin: 0;
    padding: 0;
  }
  
  /* General styling */
  body {
    background: linear-gradient(135deg, #00b09b, #96c93d);
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Arial', sans-serif;
    color: #333;
  }
  
  .App {
    max-width: 1800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Header styling */
  .Header {
    text-align: center;
    padding: 20px 0;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    margin-bottom: 20px;
    width: 40%;
    margin: 0 auto;
  }

  
  .TitleBox {
    padding: 15px;
    width: 100%;
    margin: 0 auto;
  }
  
  .Name {
    font-size: 3rem;
    color: #fff;
    margin-bottom: 5px;
  }
  
  .Tagline {
    font-size: 1.2rem;
    color: #666;
  }
  
  /* Navigation */
  .Navigation {
    text-align: center;
    margin-top: 20px;
  }
  
  .NavList {
    list-style: none;
    padding: 0;
  }
  
  .NavItem {
    display: inline-block;
    margin: 0 15px;
  }
  
  .NavLink {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  .NavLink:hover {
    color: #007bff;
  }
  
  /* Section Titles */
  .SectionTitle {
    font-size: 2.8rem;
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .Footer {
    text-align: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    border-radius: 10px;
  }
  
  .ContactInfo {
    margin-bottom: 20px;
  }

  .ContactInfo strong {
    font-weight: bold;
    color: #000000; /* Change the color if needed */
  }
  
  .SocialLinks {
    /* Style  social media links or other links */
  }

  .ProjectsContainer {
    max-width: 1600px; 
    margin: 0 auto; 
    padding: 0 20px; 
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .ProjectsInnerContainer {
    display: grid;
   grid-template-columns: repeat(2, 1fr); /* Adjust the minmax values */
    grid-gap: 20px;
  }

  .ProjectBox {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  .ProjectBox img {
    max-width: 100%;
  }
  
  .ProjectBox h3 {
    margin-top: 10px;
  }
  
  .ProjectBox p {
    margin-top: 10px;
  }



  .SkillsInnerContainer {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.SkillsIntro {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #333;
}

.SkillsGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.Skill {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 20px;
  width: 300px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Skill i {
  font-size: 2rem;
  color: #007bff;
}

.Skill h3 {
  font-size: 1.3rem;
  margin-top: 10px;
}

.Skill p {
  color: #666;
}


.SkillsInnerContainer {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.SkillsSubtitle {
  font-size: 1.3rem;
  margin-bottom: 20px;
  color: #333;
}

.SkillsColumns {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 20px;
}

.SkillsColumn {
  flex: 1;
}

.SkillsList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.Skill {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Skill i {
  font-size: 2rem;
  color: #007bff;
}

.Skill h3 {
  font-size: 1.3rem;
  margin-top: 10px;
}

.Skill p {
  color: #666;
}